

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: black;
	color: white;
}
.nav-link a {
	color: white;
	font-family: sans-serif;
	text-decoration: none;
}
button {
	color: black;
	background-color:ghostwhite;
	padding: 10px 10px;
	border-radius: 5px;
}
#abc {
	background-color:burlywood;
}

img{
    width: 100%;
}